body, html {
    height: 100%;
    background: #F8F8F8;
    box-sizing:border-box;
}

// .ng-scope {
//   height: 100%;
// }

.header-btn {
  margin-left: 5px;
  background-color: #2DC62A;
  border-color: #229E20;
}

.header-btn:hover,
.header-btn:focus,
.header-btn:active,
.header-btn:active:hover {
  margin-left: 5px;
  background-color: #229E20;
  border-color: #229E20;
}

.header-btn span {
  font-size: 14px;
}

.main-container{
  height: 100%;
}
