div#map-page {
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	overflow:hidden;

	&.small {
		.map-holder {
			bottom:50%;
		}

		.form {
			top:50%;
		}
	}

	.logo-container {
		height: 36px;
		float: left;
	}

	.logo-container img {
		height: 36px;
	}

	.top-nav {
		position:fixed;
		top:0;
		left:0;
		background:#FFF;
		width:100%;
		padding:10px;

		.links {
			float: right;
		}
	}

	.map-holder {
		position: absolute;
		top: 56px;
		left:0;
		width:100%;
		bottom:0;

		#mapFinalContainer {
			width:100%;
			height:100%;
		}
	}

	.form {
		position:absolute;
		background:cyan;
		height:50%;
		top:100%;
		left:0;
		width:100%;
	}
}