
<div id="map-page">

	
	<div class="top-nav" ng-controller="TopNavController">

		<div class="logo-container">
			<img src="https://raw.githubusercontent.com/mad-dogs/resources/master/logo.png">
		</div>

		<div class="links">
			<a class="btn btn-primary header-btn" ng-repeat="action in currentActions" ng-click="action.toRun()">
		        <span>{{action.label}}</span>
		    </a>
		</div>
	</div>

	<div class="map-holder" ng-controller="MapController">
		<div id="mapFinalContainer"></div>
		<div class="crosshair {{ !showCrosshair ? '' : 'showCrosshair' }}">
			<img src="https://raw.githubusercontent.com/mad-dogs/resources/master/pin.png">
		</div>
	</div>

	<div class="bottom-bar" ng-controller="BottomActionsController"> 
		<a ng-repeat="action in currentActions" ng-click="action.toRun()">
	        <span>{{action.label}}</span>
	    </a>
	</div>

	<div class="content-below-map form" ng-controller="ContentBelowController">
		<div class="inner" ng-include="currentContent"></div>
	</div>

</div>
