<div class="tag-details-form" ng-controller="TagDetailsForm">

	<div>
		<label>Number of people</label>
		<input type="number" ng-model="numPeople">
		<input type="number" ng-model="numDogs">
		<select ng-model="selectedType">
			<option ng-repeat="type in tagTypes" value="{{type.id}}">{{type.type}}</option>
		</select>
	</div>
	<div>
		<span>Needs</span>
		<div ng-repeat="need in needs">
			<select ng-model="need.needType">
				<option ng-repeat="item in items" value="{{item.id}}">{{item.description}}</option>
			</select>
			<input type="number" ng-model="need.needQuantity">
			<button ng-click="removeNeed(need)">Remove</button>
		</div>
		<button ng-click="addNeed()">Add Need</button>
	</div>

	<input type="submit" value="TAG!!!" ng-click="submitTag()">

</div>