<div class="tag-details-form" ng-controller="TagDetailsForm">

	<div>
		<div class="form-group">
			<label for="num-people">Number of people</label>
			<input  type="number" pattern="[0-9]*" inputmode="numeric" class="form-control" value="1" ng-model="numPeople" id="num-people">
		</div>
		<div class="form-group">
			<label for="num-dogs">Number of dogs</label>
			<input  type="number" pattern="[0-9]*" inputmode="numeric" class="form-control" value="0" ng-model="numDogs" id="num-dogs">
		</div>
		<div class="form-group">
			<label for="tag-type">Tag Type</label>
			<select ng-model="selectedType" id="tag-type" class="form-control" ng-options="type.id as type.type for type in tagTypes">
			</select>
		</div>
	</div>
	<div class="need-section form-horizontal">
		<label>Needs</label>
		<button class="btn btn-default need-button" ng-click="addNeed()">Add Need</button>
		<div ng-repeat="need in needs" class="form-group">
			<div class="col-xs-6">
				<select ng-model="need.needType" class="form-control" ng-options="item.id as item.description for item in items">
				</select>
			</div>
			<div class="col-xs-3">
				<input type="number" ng-model="need.needQuantity" class="form-control">
			</div>
			<div class="col-xs-3">
				<button class="btn btn-danger" ng-click="removeNeed(need)">X</button>
			</div>
		</div>
	</div>

	<input type="submit" value="Add Tag" ng-click="submitTag()" class="btn btn-primary">

</div>